
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.pinimg.com/originals/26/1c/87/261c873caad55938277c6491f6daec90.jpg);">

<section style="margin-top: 60px;">
	<div class="layout">
		<div class="show-booking-dashboard">
			<h2> My booked trips </h2>
			<% if @bookings_user.any? %>
			<div class="row">
				<% @bookings_user.each do |booking| %>

			<div class="card" id="card-booking">
				<ol data-booking-id="<%= booking.id %>" style="list-style: none;">
					<li class="copy-index"> Name: <%= booking.user.name %> <%booking.user.name %></li>
					<li class="copy-index"> Spaceship : <%= booking.spaceship.name %> </li>
					<li class="copy-index"> Destination : <%= booking.spaceship.destination %> </li>
					<li class="copy-index"> Booking start date : <%= booking.departure_date %></li>
					<li class="copy-index"> Booking end date : <%= booking.arrival_date %></li>
					<li class="copy-index"> Booking total :  <%= number_to_currency(booking.total_price, :unit => "€") %></li>
				</ol>

			        <div class="row justify-content-around mt-2">
			        	<div class="nounderline">
			        	 <%= link_to "Edit", edit_booking_path(booking.id), class: "btn-booking" %>
						</div>
			        	 <%= link_to "X", booking, data: {confirm: "Are you sure?"}, method: :delete, remote: true, class: "remove-image", style:"display: inline;" %>
			        </div>

			</div>
			<% end %>
		</div>
		<% else %>
		<p> You don't have any booking </p>
		<% end %>
	</div>
</div>
</section>
</div>
