<div id="back" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1543722530-d2c3201371e7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=753&q=80);">

  <div class="container">
    <h1>All our spaceships available</h1>

  <tbody>
    <% @spaceships.each do|spaceship| %>
      <img id="circle-img" tabindex="1" style="z-index:100; position: absolute;" src="https://images.unsplash.com/photo-1481819613568-3701cbc70156?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80"/>

      <div class="card-trip" id="content">
        <div class="card-trip-infos">
           <tr>
            <h3 class="text-center"><%= link_to spaceship.name, spaceship_path(spaceship) %></h3>
            <td><%= spaceship.country %></td>
            <td><%= spaceship.description %> </li>
            <td class="list-group-item list-group-item-dark"><%= spaceship.year_of_creation %></td>
            <li class="list-group-item list-group-item-dark"><%= spaceship.price %> <strong>$</strong></li>
            </tr>
        </div>
      </div>
      <% if user_signed_in? && policy(Spaceship).create? %>
         <td><%= link_to "New Spaceship", new_spaceship_path %></td>
       <% end %>
      <% if user_signed_in? && policy(spaceship).edit? %>
          <td><%= link_to 'Update', edit_spaceship_path(spaceship) %></td>
       <% end %>
       <% if user_signed_in? && policy(spaceship).destroy? %>
          <td><%= link_to 'Destroy', spaceship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
       <% end %>
   <% end %>
  </tbody>
  </div>
</div>


