<div id="back" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1543722530-d2c3201371e7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=753&q=80);">

  <div class="container">

  <h1>All our spaceships available</h1>
     <!-- <div class="navbar-lewagon"><%= link_to "Home", root_path %> </div> -->
  <tbody>
          <img class="circle-img" style="z-index:100;" src="https://www.nasaspaceflight.com/wp-content/uploads/2017/09/Z3GGG.jpg"/>

    <% @spaceships.each do|spaceship| %>

<!--           <img id="circle-img" style="z-index:100;" src="https://www.nasaspaceflight.com/wp-content/uploads/2017/09/Z3GGG.jpg"/>
 -->

      <div class="card-trip" id="content" style="background-image: url(https://1.bp.blogspot.com/-ou7Je3OVg6U/WYtxDqjNp_I/AAAAAAAACSQ/fsopS5VtFg4bmlv8hQNfiRYfJqTygCotQCLcBGAs/s2048/Martian%2Blandscape%2Bby%2BAmante%2BLombardi.jpg);">
        <div class="card-trip-infos">
           <tr>

            <h3 class="text-center"><%= link_to spaceship.name, spaceship_path(spaceship), style:'color:#FFFFFF;' %></h3>


            <h2 class="text-center"> Envolez-vous vers Mars </p>
            <tr><%= "Pays de départ: #{spaceship.country}"  %></tr>
            <li class="list-group-item list-group-item-dark text-right" id ="price-per-day"><%= spaceship.price %> <strong>$</strong></li>
            </tr>
        </div>
      </div>

      <img class="circle-img" style="z-index:100;" src="https://www.universetoday.com/wp-content/uploads/2019/08/Starship-Super-Heavy-steel-render-2019-SpaceX-2X-1-crop-2000x938.jpg"/>

      <img class="circle-img" style="z-index:100;" src="https://images.laprovence.com/media/afp/2019-07/2019-07-17/1063873287aed43c95d4387a69640c68c6763aaf.jpg?twic=v1/dpr=2/focus=0x0/cover=740x416"/>
    <!--   <% if user_signed_in? && policy(Spaceship).create? %>
         <td><%= link_to "New Spaceship", new_spaceship_path %></td>
       <% end %> -->
      <% if user_signed_in? && policy(spaceship).edit? %>
          <td><%= link_to 'Update', edit_spaceship_path(spaceship) %></td>
       <% end %>
       <% if user_signed_in? && policy(spaceship).destroy? %>
          <td><%= link_to 'Destroy', spaceship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
       <% end %>
   <% end %>
  </tbody>

  </div>
</div>
