<p>Name: <%= @spaceship.name %></p>
<p>Year of creation: <%= @spaceship.year_of_creation %></p>
<p>Country: <%= @spaceship.country%></p>
<p>Price: <%= @spaceship.price%></p>
<p>Description: <%= @spaceship.description%></p>



