<p>Name: <%= @spaceship.name %></p>
<p>Year of creation: <%= @spaceship.year_of_creation %></p>
<p>Country: <%= @spaceship.country%></p>
<p>Price: <%= @spaceship.price%></p>
<p>Description: <%= @spaceship.description%></p>

<%= link_to 'Back', spaceships_path, class: "btn btn-primary"%>

<%= render "bookings/new" %>

